@import '../../../main/assets/main';

.chest_open_wrapper{
  display: flex;
  align-items: center;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
  position: relative;
  animation: opacity_animation 0.5s;
  .line{
    position: absolute;
    width: 20px;
    height: 100%;
    background-color: rgba($base-color, 0.75);
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
  }
  .chest_open{
    width: 100%;
    display: flex;
    .chest_item_wrapper{
      flex: 0 0 20%;
      max-width: 20%;
      box-sizing: border-box;
      margin: 0;
      .chest_item{
        background: #eee;
        padding-top: 100%;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        .chest_item_image{
          bottom: 0;
          object-fit: cover;
          display: block;
          left: 0;
          max-width: 100%;
          min-width: 100%;
          position: absolute;
          right: 0;
          top: 0;
          height: 100%;
          transition: 0.5s;
        }
      }
    }
  }

}

.active{
  opacity: 1;
}
