@import '../../main/assets/main.scss';

.filters_wrapper{
  z-index: 5;
  .filters{
    z-index: 5;
    transition: 0.3s ease-in;
    position: fixed;
    left: -100%;
    width: 30%;
    height: 100%;
    top: 0;
    background-color: #fff;
    .close_button_wrapper{
      position: absolute;
      right: 8px;
      top: 8px;
    }
    .filters_loop_wrapper{
      margin-top: $m-xxl;
      .filters_loop{
        border-bottom: 1px solid #ccc;
        padding: $p-md;
        .filter_title{
          font-size: $font-sm;
          text-align: center;
          font-weight: $font-weight-md;
          margin-bottom: $m-sm;
        }
      }
    }
  }

}

.active{
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.368627451);
  left: 0;
  top: 0;
  .filters{
    left: 0;
  }
}
