@import '../../main/assets/main.scss';

.filters_wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.368627451);
  left: 0;
  top: 0;
  z-index: 2;
  .filters{
    position: fixed;
    left: 0;
    width: 30%;
    height: 100%;
    top: 0;
    background-color: #fff;
    animation: filtersAnimation 0.5s;
    .filters_loop{
      border-bottom: 1px solid #ccc;
      padding: $p-md;
      .filter_title{
        font-size: $font-sm;
        text-align: center;
        font-weight: $font-weight-md;
        margin-bottom: $m-sm;
      }
    }
  }

}

@keyframes filtersAnimation {
  from{
    width: 0;
  }
  to{
    width: 30%;
  }
}