@import '../../main/assets/main.scss';

.add_to_observe_icon{
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  .observe_icon{
    font-size: 16px;
  }
}

.observed{
  background-color: $base-color !important;
  color: $white-color !important;
}