@import '../../../../main/assets/main';

.chest_content_loop{
  width: 10%;
  .chest_content_loop_price{
    margin-top: $m-sm;
  }
  .chest_content_loop_image_wrapper{
    display: block;
    background: #eee;
    border-radius: 1rem;
    padding-top: 100%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    .chest_content_loop_image{
      border-radius: 1rem;
      bottom: 0;
      display: block;
      left: 0;
      max-width: 100%;
      min-width: 100%;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      transition: 0.5s;
      object-fit: cover;
    }
  }
}