@import '../../main/assets/main.scss';

.top_bar_title_wrapper{
  display: flex;
  background-color: $gray-color;
  border-radius: 25px;
  justify-content: space-between;
  align-items: center;
  padding: $p-lg $p-xxl;
  .top_bar_title{
    font-size: $font-lg;
    color: $base-color;
    font-weight: $font-weight-md;
  }
  .top_bar_desc{
    font-size: $font-sm;
    color: $black-color;
  }
}
