@import '../../../main/assets/main.scss';

.search{
  width: 100%;
  margin: 0 $m-xxl;
  position: relative;
  .input_search{
    background-color: #f2f2f2;
    width: 100%;
    padding: $p-md 0 $p-md $p-md;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: $font-sm;
  }
  .search_button{
    position: absolute;
    top: 52%;
    transform: translateY(-50%);
    right: 8px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    .search_icon{

      width: 24px;
      height: 24px;
    }
  }

}