@import '../../main/assets/main.scss';

.order_steps_bottom_wrapper{
  position: fixed;
  bottom: 0;
  background-color: $base-color;
  width: 100%;
  padding: $p-lg 0;
  color: $white-color;
  display: flex;
  justify-content:  center;
  .order_steps_bottom{
    display: flex;
    align-items: center;
    .change_step_button{
      padding: $p-sm $p-md;
      font-size: $font-sm;
      display: flex;
      align-items: center;
    }
  }
}