@import '../../main/assets/main.scss';

.my_account_nav{
  margin-bottom: $m-xl;
  display: flex;
  justify-content: center;
  width: 100%;
  .my_account_nav_list{
    display: flex;
    padding-bottom: $p-md;
    border-bottom: 2px solid $base-color;
    .my_account_nav_item{
      margin-right: $m-md;
      .my_account_nav_link{
        font-size: $font-xl;
        padding: $p-xs $p-md;
        border-radius: 8px;
      }
      .my_account_nav_link_active{
        color: $base-color;
      }
      &:nth-last-child(1){
        margin-right: 0;
      }

    }
  }
}