@import '../../main/assets/main';
.chest{
  margin-top: 70px;
  display: flex;
  padding: $p-xxl;
  position: relative;
  justify-content: space-between;
  .left_top{
    position: absolute;
    top: 0;
    left: 0;
    border-left: 12px solid $base-color;
    border-top: 12px solid $base-color;
    width: 100px;
    height: 100px;
  }
  .right_bottom{
    position: absolute;
    bottom: 0;
    right: 0;
    border-right: 12px solid $base-color;
    border-bottom: 12px solid $base-color;
    width: 100px;
    height: 100px;
  }
  .chest_image{
    width: 45%;
  }
  .chest_information{
    width: 45%;
    text-align: center;
    .chest_box{
      padding: $p-xxl;
      border-radius: 20px;
      margin-top: $m-xl;
      background-color: $base-color;
      .chest_box_text{
        line-height: 24px;
        text-align: left;
        color: $white-color;
        font-size: $font-md;
      }
      .chest_box_remember{
        text-align: left;
        margin-top: $m-xs;
        font-size: $font-sm;
        color: $white-color;
        strong{
          font-weight: $font-weight-lg;
        }
      }
      .see_more{
        display: block;
        padding: $p-md 0;
        font-size: $font-md;
        margin-top: $m-md;
      }
    }
  }
}