@import '../../main/assets/main.scss';

.social_media{
  margin-top: 60px;
  padding-top: $p-md;
  position: relative;
  &:before{
	position: absolute;
	content: '';
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background-color: $gray-color;
	width: 120px;
	height: 1px;
  }
  .social_media_button{
	width: 100%;
	background-color: $gray-color;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: $p-md 0;
	cursor: pointer;
	border-radius: 8px;
	.social_media_button_text{
	  margin-left: $m-xs;
	  color: $black-color;
	  font-weight: $font-weight-md;
	  font-size: $font-sm;
	}
  }
}